<header>
  <nav>
    <% if logged_in? %>
      <%= button_to 'Profile', user_path(current_user), method: :get, form: inline %>
      <%= button_to 'Jobs', jobs_path, method: :get, form: inline %>
      <% if current_user.employer? %>
        <%= button_to 'Create Job', new_job_path, method: :get, form: inline %>
      <% end %>
      <%= button_to 'Log out', logout_path, method: :delete, form: inline %>
    <% end %>
  </nav>
</header>